@model dynamic

@{
    ViewBag.Title = "Events";
}

<h2>Events</h2>

<h3>Result</h3>
<div class="well">
    <fieldset>
        <legend>Person Info</legend>
        <p>
            <label>First Name: </label><input type="text" data-bind="value: personFirstName" />
            <label>Last Name: </label><input type="text" data-bind="value: personLastName"/>
        </p>
    </fieldset>
    <p>The person's name is <strong data-bind="text: personName"></strong></p>
    <p>
        @*<button data-bind="event: { mouseover: capitalizeLastName }">Capitalize Last Name</button>*@
        <button data-bind="click: capitalizeLastName">Capitalize Last Name</button>
    </p>
</div>

<script>
    function MyViewModel() {
        var self = this;
        self.personFirstName = ko.observable('Bob');
        self.personLastName = ko.observable('Dobalina');
        self.personName = ko.computed(function () {
            return self.personLastName() + ", " + self.personFirstName();
        });
        self.capitalizeLastName = function () {
            self.personLastName(self.personLastName().toUpperCase());
        };
    }

    ko.applyBindings(new MyViewModel());
</script>

<h3>Script</h3>
<div class="snippet-container"><div class="sh_default snippet-wrap"><div class="snippet-menu sh_sourceCode"><a class="snippet-window sh_url" href="#">pop-up</a><a class="snippet-text sh_url" href="#">text</a></div><pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">&lt;</span>script<span class="sh_symbol">&gt;</span></li><li>    <span class="sh_keyword">function</span> <span class="sh_function">MyViewModel</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_keyword">var</span> self <span class="sh_symbol">=</span> <span class="sh_keyword">this</span><span class="sh_symbol">;</span></li><li>        self<span class="sh_symbol">.</span>personFirstName <span class="sh_symbol">=</span> ko<span class="sh_symbol">.</span><span class="sh_function">observable</span><span class="sh_symbol">(</span><span class="sh_string">'Bob'</span><span class="sh_symbol">);</span></li><li>        self<span class="sh_symbol">.</span>personLastName <span class="sh_symbol">=</span> ko<span class="sh_symbol">.</span><span class="sh_function">observable</span><span class="sh_symbol">(</span><span class="sh_string">'Dobalina'</span><span class="sh_symbol">);</span></li><li>        self<span class="sh_symbol">.</span>personName <span class="sh_symbol">=</span> ko<span class="sh_symbol">.</span><span class="sh_function">computed</span><span class="sh_symbol">(</span><span class="sh_keyword">function</span> <span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>            <span class="sh_keyword">return</span> self<span class="sh_symbol">.</span><span class="sh_function">personLastName</span><span class="sh_symbol">()</span> <span class="sh_symbol">+</span> <span class="sh_string">", "</span> <span class="sh_symbol">+</span> self<span class="sh_symbol">.</span><span class="sh_function">personFirstName</span><span class="sh_symbol">();</span></li><li>        <span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li class="box box-top" style="border-color: yellow; margin-left: -3.3em; "><span class="box-sp" style="width: 21px; ">&nbsp;</span>        self<span class="sh_symbol">.</span>capitalizeLastName <span class="sh_symbol">=</span> <span class="sh_keyword">function</span> <span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li class="box box-mid" style="border-color: yellow; margin-left: -3.3em; "><span class="box-sp" style="width: 21px; ">&nbsp;</span>            self<span class="sh_symbol">.</span><span class="sh_function">personLastName</span><span class="sh_symbol">(</span>self<span class="sh_symbol">.</span><span class="sh_function">personLastName</span><span class="sh_symbol">().</span><span class="sh_function">toUpperCase</span><span class="sh_symbol">());</span></li><li class="box box-bot" style="border-color: yellow; margin-left: -3.3em; "><span class="box-sp" style="width: 21px; ">&nbsp;</span>        <span class="sh_cbracket">}</span><span class="sh_symbol">;</span></li><li>    <span class="sh_cbracket">}</span></li><li></li><li>    ko<span class="sh_symbol">.</span><span class="sh_function">applyBindings</span><span class="sh_symbol">(</span><span class="sh_keyword">new</span> <span class="sh_function">MyViewModel</span><span class="sh_symbol">());</span></li><li><span class="sh_symbol">&lt;/</span>script<span class="sh_symbol">&gt;</span></li></ol></pre><pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;script&gt;
    function MyViewModel() {
        var self = this;
        self.personFirstName = ko.observable('Bob');
        self.personLastName = ko.observable('Dobalina');
        self.personName = ko.computed(function () {
            return self.personLastName() + ", " + self.personFirstName();
        });
        self.capitalizeLastName = function () {
            self.personLastName(self.personLastName().toUpperCase());
        };
    }

    ko.applyBindings(new MyViewModel());
&lt;/script&gt;</pre></div></div>

<h3>Html</h3>
<div class="snippet-container"><div class="sh_default snippet-wrap"><div class="snippet-menu sh_sourceCode"><a class="snippet-window sh_url" href="#">pop-up</a><a class="snippet-text sh_url" href="#">text</a></div><pre class="shi_pre sh_html snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">&lt;fieldset&gt;</span></li><li>    <span class="sh_keyword">&lt;legend&gt;</span>Person Info<span class="sh_keyword">&lt;/legend&gt;</span></li><li>    <span class="sh_keyword">&lt;p&gt;</span></li><li>        <span class="sh_keyword">&lt;label&gt;</span>First Name: <span class="sh_keyword">&lt;/label&gt;&lt;input</span> <span class="sh_type">type</span><span class="sh_symbol">=</span><span class="sh_string">"text"</span> <span class="sh_type">data-bind</span><span class="sh_symbol">=</span><span class="sh_string">"value: personFirstName"</span> <span class="sh_keyword">/&gt;</span></li><li>        <span class="sh_keyword">&lt;label&gt;</span>Last Name: <span class="sh_keyword">&lt;/label&gt;&lt;input</span> <span class="sh_type">type</span><span class="sh_symbol">=</span><span class="sh_string">"text"</span> <span class="sh_type">data-bind</span><span class="sh_symbol">=</span><span class="sh_string">"value: personLastName"</span><span class="sh_keyword">/&gt;</span></li><li>    <span class="sh_keyword">&lt;/p&gt;</span></li><li><span class="sh_keyword">&lt;/fieldset&gt;</span></li><li><span class="sh_keyword">&lt;p&gt;</span>The person's name is <span class="sh_keyword">&lt;strong</span> <span class="sh_type">data-bind</span><span class="sh_symbol">=</span><span class="sh_string">"text: personName"</span><span class="sh_keyword">&gt;&lt;/strong&gt;&lt;/p&gt;</span></li><li class="box box-top" style="border-color: yellow; margin-left: -3.3em; "><span class="box-sp" style="width: 21px; ">&nbsp;</span><span class="sh_keyword">&lt;p&gt;</span></li><li class="box box-mid" style="border-color: yellow; margin-left: -3.3em; "><span class="box-sp" style="width: 21px; ">&nbsp;</span>    <span class="sh_keyword">&lt;button</span> <span class="sh_type">data-bind</span><span class="sh_symbol">=</span><span class="sh_string">"click: capitalizeLastName"</span><span class="sh_keyword">&gt;</span>Capitalize Last Name<span class="sh_keyword">&lt;/button&gt;</span></li><li class="box box-bot" style="border-color: yellow; margin-left: -3.3em; "><span class="box-sp" style="width: 21px; ">&nbsp;</span><span class="sh_keyword">&lt;/p&gt;</span></li></ol></pre><pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;fieldset&gt;
    &lt;legend&gt;Person Info&lt;/legend&gt;
    &lt;p&gt;
        &lt;label&gt;First Name: &lt;/label&gt;&lt;input type="text" data-bind="value: personFirstName" /&gt;
        &lt;label&gt;Last Name: &lt;/label&gt;&lt;input type="text" data-bind="value: personLastName"/&gt;
    &lt;/p&gt;
&lt;/fieldset&gt;
&lt;p&gt;The person's name is &lt;strong data-bind="text: personName"&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;
    &lt;button data-bind="click: capitalizeLastName"&gt;Capitalize Last Name&lt;/button&gt;
&lt;/p&gt;</pre></div></div>